.precio-container {
  width: 100%;
  box-shadow: 0 0 3px #00000029;
  padding: 20px;
  min-height: auto;
  margin-top: 45px;

  .descripcion-precio-container {
    border-bottom: 1px solid #F4F4F4;
    margin-bottom: 10px;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 16px;

      span:nth-child(1) {
        font-size: 14px;
        color: #9D9EA2;
      }

      span:nth-child(2) {
        font-size: 14px;
        font-weight: 600;
        color: #000000;
      }
    }

  }

  .ofertas-cliente {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 10px;

    label {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 3px;
      color: #717378;
    }

    button {
      border: none;
      background: none;
      font-size: 14px;
      font-weight: 700;
      text-decoration: underline;
    }
  }

  .verificar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .verificar-button {
      width: 90%;
      height: 60px;
      border: none;
      background-color: #C8C9CB;
      border-radius: 50px;
      color: white;
      font-size: 16px;
      font-weight: 600;
      margin: 15px 0 15px;
    }
  }

  .pago-seguro {
    width: 100%;
    border-top: 1px solid #F4F4F4;

    .inf {
      margin-top: 10px;

      p {
        font-size: 12px;
        color: #717378;
        font-weight: lighter;
      }
    }

    .container-span {
      width: 100%;
      display: flex;
      flex-direction: row;

      div {
        width: 56px;
        border: 1px solid #F4F4F4;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;

        img {
          width: 30px;
        }

        .bitcoin {
          width: 20px;
        }
      }
    }
  }

  @media(max-width: 600px) {
    width: 91%;
    padding: 10px;
    margin-left: 20px;
    min-height: auto;
    margin-top: 8px;
    margin-bottom: 20px;
  }
}
