<a routerLink="/auth/ingreso"><div class="global-container">
    <div class="inicio-container">
        <div class="logo-container">
            <hr>
            <img src="assets\logo\logo.png" alt="logo">
            <hr>
        </div>
        <div class="saludo-container">
            <h1> ¡GRACIAS POR PREFERIRNOS <br> TU CUENTA FUE CREADA CON EXITO! </h1>
        </div>
    </div>
    <div class="texto-container">
        <p> Presiona en cualquier luegar de la pantalla para continuar </p>
    </div>
</div>
</a>
