<div class="global-container">
    <div class="logo-contacto-container">
        <a routerLink="/home"><img src="assets\logo\logo-ferreteria.png" alt="logo"></a>
        <div class="contacto-container">
            <p> <i class="fa-solid fa-phone" style="color: #ffffff;"></i> Telefono: +(593)-0998653983</p>
            <p> <i class="fa-solid fa-envelope" style="color: #ffffff;"></i> Email: collaguazodaniel48gmail.com</p>
        </div>
    </div>
    <div class="tendencias-container">
        <h3>Tendencias</h3>
        <ul>
          <li><a routerLink="/home">Inicio</a></li>
          <li><a routerLink="/productos">Outlet</a></li>
          <li><a href="/nosotros">Sobre Nosotros</a></li>
        </ul>
    </div>
    <div class="redes-container">
        <h3>Redes Sociales</h3>
        <ul>
            <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f" style="color: #ffffff;"></i></a></li>
            <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram" style="color: #ffffff;"></i></a></li>
            <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter" style="color: #ffffff;"></i></a></li>
            <li><a href="https://whatsapp.com" target="_blank"><i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i></a></li>
        </ul>
    </div>
</div>
