<section class="sobre-nosotros">
  <div class="container">
    <h2>Sobre Nosotros</h2>
    <p>Somos El Artesano, una empresa fundada con el propósito de comercializar una amplia gama
      de productos relacionados con la construcción y el hogar. A medida que nuestra empresa creció
      significativamente, decidimos ampliar nuestro catálogo para incluir aún más productos, ofreciendo
      así una variedad de artículos que podrían interesarte para tus proyectos y necesidades.
    </p>
    <p>Estamos convencidos de que nuestra página te brindará una experiencia excelente.
    <p>
      En El Artesano, nos dedicamos cada día a traerte los mejores productos del mercado.
    </p>
    <a href="https://www.ups.edu.ec/" class="btn">Conoce más</a>
  </div>

  <div class="container-ubicacion">
    <div class="container-secundary">
      <h2>¿Donde puedes encontrarnos?</h2>
      <div class="container-mapa">
        <h3>PRINCIPAL SUCURSAL</h3>
        <img src="./assets/img/mapa.png" alt="">
      </div>
      <div class="container-info">
        <p style="margin-top: 15px;">Teléfonos: 07 2845 425 - 07 2825 124</p>
        <p>Celular: 098 775 4588 - 099 250 0569</p>
        <p>Dirección: Hermano Miguel 11-87 y Sangurima</p>
        Horario de atención:
        <p>Lunes a Viernes de 8h00 a 18h15</p>
        <p>Sábado de 8h00 a 13h30</p>
      </div>
    </div>
  </div>
</section>