<div class="global-container">
    <div class="container">
        <div class="inicio-container">
            <div class="logo-container">
                <hr>
                <img src="assets\logo\logo.png" alt="logo">
                <hr>
            </div>
            <div class="saludo-container">
                <h1> Actualiza tus datos <br> Mantente Seguro </h1>
            </div>
        </div>
        <div class="formulario-container">
            <form action="">
                <div class="email">
                    <label for="mail"> Email </label>
                    <input type="email" name="mail" id="mail">
                </div>
                <div class="contasena">
                    <label for="con"> Contraseña </label>
                    <input type="password" name="con" id="con">
                </div>
                <div class="contasena">
                    <label for="con"> Ingresa tu Nueva Contraseña</label>
                    <input type="password" name="con" id="con">
                </div>
                <div class="botones-container">
                    <button class="n" type="submit"> Actualizar </button>
                </div>
            </form>
        </div>
    </div>
</div>